@page "/acerca-de"
@rendermode InteractiveServer

<h3>Acerca De</h3>

<p>Esta página fue hecha por:</p>
<p>Aarón Carmona</p>
<p>Matrícula: 2023-1360</p>
<p>Curso: Programación Web</p>

<!-- Contactos -->
<p>Redes Sociales:</p>
<p>Facebook: Aarón Carmona</p>
<p>Instagram: @@aaron_carmona.16</p>
<p>Twitter: @@aaron_carmona</p>
<p>Correo: 20231360@itla.edu.do</p>